<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.tomsplayground.peanuts.client.app.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Butter Perspective"
            class="de.tomsplayground.peanuts.client.app.Perspective"
            id="de.tomsplayground.peanuts.client.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.tomsplayground.peanuts.client.category1"
            name="Peanuts">
      </category>
      <view
            allowMultiple="false"
            category="de.tomsplayground.peanuts.client.category1"
            class="de.tomsplayground.peanuts.client.views.NavigationView"
            icon="icons/chart_organisation.png"
            id="de.tomsplayground.peanuts.client.navigationView"
            name="Navigation">
      </view>
      <view
            allowMultiple="false"
            category="de.tomsplayground.peanuts.client.category1"
            class="de.tomsplayground.peanuts.client.views.AccountListView"
            icon="icons/table_multiple.png"
            id="de.tomsplayground.peanuts.client.accountListView"
            name="Account-Übersicht">
      </view>
      <view
            allowMultiple="false"
            category="de.tomsplayground.peanuts.client.category1"
            class="de.tomsplayground.peanuts.client.views.CategoryTreeView"
            icon="icons/folder.png"
            id="de.tomsplayground.peanuts.client.catgegoryTreeView"
            name="Category-Tree">
      </view>
      <view
            category="de.tomsplayground.peanuts.client.category1"
            class="de.tomsplayground.peanuts.client.watchlist.SecurityWatchlistView"
            icon="icons/eye.png"
            id="de.tomsplayground.peanuts.client.securityWatchListView"
            name="Watchlist">
      </view>
      <view
            allowMultiple="false"
            category="de.tomsplayground.peanuts.client.category1"
            class="de.tomsplayground.peanuts.client.views.AllAccountsPieView"
            icon="icons/chart_pie.png"
            id="de.tomsplayground.peanuts.client.AllAccountsPieView"
            name="Account Pie">
      </view>
      <view
            category="org.eclipse.ui"
            class="org.eclipse.ui.ExtensionFactory:progressView"
            id="org.eclipse.ui.views.ProgressView"
            name="Progress View">
      </view>
      <view
            category="de.tomsplayground.peanuts.client.category1"
            class="de.tomsplayground.peanuts.client.rss.RssView"
            icon="icons/feed.png"
            id="de.tomsplayground.peanuts.client.rssview"
            name="RSS View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Peanuts Category"
            id="de.tomsplayground.peanuts.client.category">
      </category>
      <command
            categoryId="de.tomsplayground.peanuts.client.category"
            id="de.tomsplayground.peanuts.client.load.bpx"
            name="Load">
      </command>
      <command
            categoryId="de.tomsplayground.peanuts.client.category"
            id="de.tomsplayground.peanuts.client.save.bpx"
            name="Save">
      </command>
      <command
            categoryId="de.tomsplayground.peanuts.client.category"
            id="de.tomsplayground.peanuts.client.import.qif"
            name="Import QIF">
      </command>
      <command
            categoryId="de.tomsplayground.peanuts.client.category"
            id="de.tomsplayground.peanuts.client.import.csv"
            name="Import CSV">
      </command>
      <command
            categoryId="de.tomsplayground.peanuts.client.category"
            defaultHandler="de.tomsplayground.peanuts.client.watchlist.AddWatchlistHandler"
            id="de.tomsplayground.peanuts.client.addWatchlist"
            name="Add Watchlist">
      </command>
      <command
            categoryId="de.tomsplayground.peanuts.client.category"
            defaultHandler="de.tomsplayground.peanuts.client.watchlist.SwitchWatchlistHandler"
            id="de.tomsplayground.peanuts.client.switchWatchlist.cmd"
            name="Switch Watchlist">
         <commandParameter
               id="de.tomsplayground.peanuts.client.switchWatchlist.watchListName"
               name="watchlistName"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.tomsplayground.peanuts.client.load.bpx"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+O">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.tomsplayground.peanuts.client.application"
            name="Peanuts">
         <property
               name="aboutText"
               value="%aboutText">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
         <property
               name="appName"
               value="Peanuts">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.tomsplayground.peanuts.client.editors.account.AccountEditor"
            contributorClass="de.tomsplayground.peanuts.client.editors.account.AccountEditorActionBarContributor"
            default="false"
            icon="icons/table.png"
            id="de.tomsplayground.peanuts.client.accountEditor"
            name="de.tomsplayground.peanuts.client.accountEditor"/>
      <editor
            class="de.tomsplayground.peanuts.client.editors.security.SecurityEditor"
            contributorClass="de.tomsplayground.peanuts.client.editors.security.SecurityEditorActionBarContributor"
            default="false"
            icon="icons/chart_curve.png"
            id="de.tomsplayground.peanuts.client.securityEditor"
            name="de.tomsplayground.peanuts.client.securityEditor"/>
      <editor
            class="de.tomsplayground.peanuts.client.editors.report.ReportEditor"
            icon="icons/book.png"
            id="de.tomsplayground.peanuts.client.reportEditor"
            name="de.tomsplayground.peanuts.client.reportEditor">
      </editor>
      <editor
            class="de.tomsplayground.peanuts.client.editors.forecast.ForecastEditor"
            icon="icons/weather_cloudy.png"
            id="de.tomsplayground.peanuts.client.forecastEditor"
            name="de.tomsplayground.peanuts.client.forecastEditor">
      </editor>
      <editor
            class="de.tomsplayground.peanuts.client.editors.credit.CreditEditor"
            contributorClass="de.tomsplayground.peanuts.client.editors.credit.CreditEditorActionBarContributor"
            icon="icons/script.png"
            id="de.tomsplayground.peanuts.client.creditEditor"
            name="Credit">
      </editor>
      <editor
            class="de.tomsplayground.peanuts.client.editors.securitycategory.SecurityCategoryEditor"
            icon="icons/chart_pie.png"
            id="de.tomsplayground.peanuts.client.securityCategoryEditor"
            name="Security Category">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="de.tomsplayground.peanuts.client.editors.security.SecurityEditorFactory"
            id="de.tomsplayground.peanuts.client.securityEditorFactoryId"/>
      <factory
            class="de.tomsplayground.peanuts.client.editors.account.AccountEditorFactory"
            id="de.tomsplayground.peanuts.client.accountEditorFactoryId">
      </factory>
      <factory
            class="de.tomsplayground.peanuts.client.editors.report.ReportEditorFactory"
            id="de.tomsplayground.peanuts.client.reportEditorFactoryId">
      </factory>
      <factory
            class="de.tomsplayground.peanuts.client.editors.forecast.ForecastEditorFactory"
            id="de.tomsplayground.peanuts.client.forecastEditorFactoryId">
      </factory>
      <factory
            class="de.tomsplayground.peanuts.client.editors.credit.CreditEditorFactory"
            id="de.tomsplayground.peanuts.client.creditEditorFactoryId">
      </factory>
      <factory
            class="de.tomsplayground.peanuts.client.editors.securitycategory.SecurityCategoryEditorFactory"
            id="de.tomsplayground.peanuts.client.securityCategoryEditorFactoryId">
      </factory>
   </extension>
   <extension
         name="Test"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.tomsplayground.peanuts.client.product"
            name="Butter"/>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:main">
         <command
               commandId="de.tomsplayground.peanuts.client.load.bpx"
               icon="icons/database_go.png"
               label="Load">
         </command>
         <command
               commandId="de.tomsplayground.peanuts.client.save.bpx"
               icon="icons/database_save.png"
               id="de.tomsplayground.peanuts.client.save.bpx"
               label="Saves">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=group.properties">
         <command
               commandId="org.eclipse.ui.file.properties"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.tomsplayground.peanuts.client.securityWatchListView">
         <command
               commandId="de.tomsplayground.peanuts.client.addWatchlist"
               icon="icons/add.png"
               label="Add Watchlist"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:de.tomsplayground.peanuts.client.securityWatchListView">
         <command
               commandId="de.tomsplayground.peanuts.client.addWatchlist"
               label="Add Watchlist"
               style="push">
         </command>
         <dynamic
               class="de.tomsplayground.peanuts.client.watchlist.SwitchWatchlistItems"
               id="de.tomsplayground.peanuts.client.dynamic1">
         </dynamic>
         <menu
               label="Select Watch list">
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:de.tomsplayground.peanuts.client.securityEditor">
         <command
               commandId="org.eclipse.ui.edit.delete"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="file"
               label="File">
            <command
                  commandId="org.eclipse.ui.edit.delete"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:de.tomsplayground.peanuts.client.securityWatchListView">
         <command
               commandId="org.eclipse.ui.edit.delete"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.tomsplayground.peanuts.client.category1"
            name="Butter">
      </category>
      <wizard
            category="de.tomsplayground.peanuts.client.category1"
            class="de.tomsplayground.peanuts.client.wizards.security.SecurityNewWizard"
            icon="icons/chart_curve.png"
            id="de.tomsplayground.peanuts.client.securityNewWizard"
            name="Security">
      </wizard>
      <wizard
            category="de.tomsplayground.peanuts.client.category1"
            class="de.tomsplayground.peanuts.client.wizards.report.ReportNewWizard"
            hasPages="true"
            icon="icons/book.png"
            id="de.tomsplayground.peanuts.client.reportNewWizard"
            name="Report">
      </wizard>
      <wizard
            category="de.tomsplayground.peanuts.client.category1"
            class="de.tomsplayground.peanuts.client.wizards.account.AccountNewWizard"
            icon="icons/table.png"
            id="de.tomsplayground.peanuts.client.accountNewWizard"
            name="Account">
      </wizard>
      <wizard
            canFinishEarly="false"
            category="de.tomsplayground.peanuts.client.category1"
            class="de.tomsplayground.peanuts.client.wizards.forecast.ForecastNewWizard"
            hasPages="true"
            icon="icons/weather_cloudy.png"
            id="de.tomsplayground.peanuts.client.forecastNewWizard"
            name="Forecast">
      </wizard>
      <wizard
            canFinishEarly="false"
            category="de.tomsplayground.peanuts.client.category1"
            class="de.tomsplayground.peanuts.client.wizards.credit.CreditNewWizard"
            hasPages="true"
            icon="icons/script.png"
            id="de.tomsplayground.peanuts.client.creditNewWizard"
            name="Credit">
      </wizard>
      <wizard
            category="de.tomsplayground.peanuts.client.category1"
            class="de.tomsplayground.peanuts.client.wizards.securitycategory.SecurityCategoryNewWizard"
            icon="icons/chart_pie.png"
            id="de.tomsplayground.peanuts.client.securityCategoryNewWizard"
            name="Security Category">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="de.tomsplayground.peanuts.client.editors.security.properties.SecurityPropertyPage"
            id="de.tomsplayground.peanuts.client.security.general"
            name="Security">
         <enabledWhen>
            <adapt
                  type="de.tomsplayground.peanuts.domain.base.Security">
            </adapt>
         </enabledWhen>
      </page>
      <page
            class="de.tomsplayground.peanuts.client.editors.security.properties.SplitsPropertyPage"
            id="de.tomsplayground.peanuts.client.security.splits"
            name="Splits">
         <enabledWhen>
            <adapt
                  type="de.tomsplayground.peanuts.domain.base.Security">
            </adapt>
         </enabledWhen>
      </page>
      <page
            class="de.tomsplayground.peanuts.client.editors.credit.properties.CreditPropertyPage"
            id="de.tomsplayground.peanuts.client.credit.general"
            name="Credit">
         <enabledWhen>
            <adapt
                  type="de.tomsplayground.peanuts.domain.process.Credit">
            </adapt>
         </enabledWhen>
      </page>
      <page
            class="de.tomsplayground.peanuts.client.editors.security.properties.SecurityCategoryPropertyPage"
            id="de.tomsplayground.peanuts.client.securitycategory.general"
            name="Security Categories">
         <enabledWhen>
            <adapt
                  type="de.tomsplayground.peanuts.domain.base.Security">
            </adapt>
         </enabledWhen>
      </page>
      <page
            class="de.tomsplayground.peanuts.client.editors.security.properties.StopLossPropertyPage"
            id="de.tomsplayground.peanuts.client.security.stoploss"
            name="Stop Loss">
         <enabledWhen>
            <adapt
                  type="de.tomsplayground.peanuts.domain.base.Security">
            </adapt>
         </enabledWhen>
      </page>
      <page
            class="de.tomsplayground.peanuts.client.editors.security.properties.ChartPropertyPage"
            id="de.tomsplayground.peanuts.client.security.chart"
            name="Chart">
         <enabledWhen>
            <adapt
                  type="de.tomsplayground.peanuts.domain.base.Security">
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.tomsplayground.peanuts.client.app.PeanutsPreferences"
            id="de.tomsplayground.peanuts.client.prefpage1"
            name="Peanuts">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.tomsplayground.peanuts.client.editors.security.DeletePriceHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="de.tomsplayground.peanuts.domain.process.Price">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="de.tomsplayground.peanuts.client.watchlist.DeleteFromWatchlistHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="de.tomsplayground.peanuts.client.securityWatchListView">
               </equals>
            </with>
         </activeWhen>
      </handler>
   </extension>

</plugin>
