<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.tomsplayground.peanuts.client.app.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Butter Perspective"
            class="de.tomsplayground.peanuts.client.app.Perspective"
            id="de.tomsplayground.peanuts.client.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.tomsplayground.peanuts.client.category1"
            name="Peanuts">
      </category>
      <view
            allowMultiple="false"
            category="de.tomsplayground.peanuts.client.category1"
            class="de.tomsplayground.peanuts.client.navigation.NavigationView"
            icon="icons/chart_organisation.png"
            id="de.tomsplayground.peanuts.client.navigationView"
            name="Navigation">
      </view>
      <view
            allowMultiple="false"
            category="de.tomsplayground.peanuts.client.category1"
            class="de.tomsplayground.peanuts.client.views.AccountListView"
            icon="icons/table_multiple.png"
            id="de.tomsplayground.peanuts.client.accountListView"
            name="Account-Übersicht">
      </view>
      <view
            allowMultiple="false"
            category="de.tomsplayground.peanuts.client.category1"
            class="de.tomsplayground.peanuts.client.views.CategoryTreeView"
            icon="icons/folder.png"
            id="de.tomsplayground.peanuts.client.catgegoryTreeView"
            name="Category-Tree">
      </view>
      <view
            category="de.tomsplayground.peanuts.client.category1"
            class="de.tomsplayground.peanuts.client.watchlist.SecurityWatchlistView"
            icon="icons/table.png"
            id="de.tomsplayground.peanuts.client.securityWatchListView"
            name="Watchlist">
      </view>
      <view
            allowMultiple="false"
            category="de.tomsplayground.peanuts.client.category1"
            class="de.tomsplayground.peanuts.client.views.AllAccountsPieView"
            icon="icons/chart_pie.png"
            id="de.tomsplayground.peanuts.client.AllAccountsPieView"
            name="Account Pie">
      </view>
      <view
            category="org.eclipse.ui"
            class="org.eclipse.ui.ExtensionFactory:progressView"
            id="org.eclipse.ui.views.ProgressView"
            name="Progress View">
      </view>
      <view
            allowMultiple="false"
            category="de.tomsplayground.peanuts.client.category1"
            class="de.tomsplayground.peanuts.client.calendar.CalendarView"
            icon="icons/calendar.png"
            id="de.tomsplayground.peanuts.client.calendarView"
            name="Calendar"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="de.tomsplayground.peanuts.client.category1"
            class="de.tomsplayground.peanuts.client.alarm.AlarmView"
            icon="icons/bell.png"
            id="de.tomsplayground.peanuts.client.alarmView"
            name="Alarm"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="de.tomsplayground.peanuts.client.category1"
            class="de.tomsplayground.peanuts.client.dividend.DividendStatsView"
            icon="icons/coins.png"
            id="de.tomsplayground.peanuts.client.dividendStatsView"
            name="Dividends"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Peanuts Category"
            id="de.tomsplayground.peanuts.client.category">
      </category>
      <command
            categoryId="de.tomsplayground.peanuts.client.category"
            id="de.tomsplayground.peanuts.client.load.bpx"
            name="Load">
      </command>
      <command
            categoryId="de.tomsplayground.peanuts.client.category"
            id="de.tomsplayground.peanuts.client.save.bpx"
            name="Save">
      </command>
      <command
            categoryId="de.tomsplayground.peanuts.client.category"
            defaultHandler="de.tomsplayground.peanuts.client.watchlist.AddWatchlistHandler"
            id="de.tomsplayground.peanuts.client.addWatchlist"
            name="Add Watchlist">
      </command>
      <command
            categoryId="de.tomsplayground.peanuts.client.category"
            defaultHandler="de.tomsplayground.peanuts.client.watchlist.SetWatchlistPerformanceRange"
            id="de.tomsplayground.peanuts.client.setWatchlistPerformanceRange"
            name="Custom performance range">
      </command>
      <command
            categoryId="de.tomsplayground.peanuts.client.category"
            defaultHandler="de.tomsplayground.peanuts.client.watchlist.SwitchWatchlistHandler"
            id="de.tomsplayground.peanuts.client.switchWatchlist.cmd"
            name="Switch Watchlist">
         <commandParameter
               id="de.tomsplayground.peanuts.client.switchWatchlist.watchListName"
               name="watchlistName"
               optional="true">
         </commandParameter>
      </command>
      <command
            categoryId="de.tomsplayground.peanuts.client.category"
            defaultHandler="de.tomsplayground.peanuts.client.watchlist.EditWatchListConfigurationHandler"
            id="de.tomsplayground.peanuts.client.editWatchlistConfiguration"
            name="Edit Watchlist">
      </command>
      <command
            categoryId="de.tomsplayground.peanuts.client.category"
            id="de.tomsplayground.peanuts.client.saveTransaction"
            name="Save Transaction">
      </command>
      <command
            defaultHandler="de.tomsplayground.peanuts.client.savedtransaction.InsertTransactionHandler"
            id="de.tomsplayground.peanuts.client.insertTransaction.cmd"
            name="Insert Transaction">
         <commandParameter
               id="de.tomsplayground.peanuts.client.insertSavedTransaction.name"
               name="savedTransaction"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="de.tomsplayground.peanuts.client.navigation.ToggleDeletedFilterHandler"
            id="de.tomsplayground.peanuts.client.toggleDeletedFilter.cmd"
            name="Toggle Deleted Filter">
         <state
               class="org.eclipse.jface.commands.ToggleState"
               id="de.tomsplayground.peanuts.client.toggleDeletedFilter.state">
         </state>
      </command>
      <command
            defaultHandler="de.tomsplayground.peanuts.client.actions.UpdateAllSecurityPrices"
            id="de.tomsplayground.peanuts.client.updateAllPrices.cmd"
            name="Update Security Prices">
      </command>
      <command
            defaultHandler="de.tomsplayground.peanuts.client.editors.account.AccountValueExport"
            id="de.tomsplayground.peanuts.client.exportAccountValues.cmd"
            name="Account value export">
      </command>
      <command
            defaultHandler="de.tomsplayground.peanuts.client.actions.Update4TraderFundamentalData"
            id="de.tomsplayground.peanuts.client.updateAllFundamentalData.cmd"
            name="Update fundamental data">
      </command>
      <command
            categoryId="de.tomsplayground.peanuts.client.category"
            defaultHandler="de.tomsplayground.peanuts.client.watchlist.DeleteWatchlistHandler"
            id="de.tomsplayground.peanuts.client.removeWatchlistConfiguration"
            name="Delete Watchlist">
      </command>
      <command
            defaultHandler="de.tomsplayground.peanuts.client.navigation.FocusNavigationHandler"
            id="de.tomsplayground.peanuts.client.focusNavigation.cmd"
            name="Focus Navigation">
      </command>
      <command
            defaultHandler="de.tomsplayground.peanuts.client.actions.CopyDividendsToNewYear"
            id="de.tomsplayground.peanuts.client.copyDividends.cmd"
            name="Copy dividends for new year">
      </command>
      <command
            id="de.tomsplayground.peanuts.client.lock"
            name="Lock Fundamental Data">
      </command>
      <command
            id="de.tomsplayground.peanuts.client.ignore"
            name="Ignore Fundamental Data">
      </command>
      <command
            id="de.tomsplayground.peanuts.client.createDividendTransaction.cmd"
            name="Create Dividend Transaction">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.tomsplayground.peanuts.client.load.bpx"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+O">
      </key>
      <key
            commandId="de.tomsplayground.peanuts.client.focusNavigation.cmd"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+F">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.tomsplayground.peanuts.client.application"
            name="Peanuts">
         <property
               name="aboutText"
               value="%aboutText">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
         <property
               name="appName"
               value="Peanuts">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.tomsplayground.peanuts.client.editors.account.AccountEditor"
            contributorClass="de.tomsplayground.peanuts.client.editors.account.AccountEditorActionBarContributor"
            default="false"
            icon="icons/table.png"
            id="de.tomsplayground.peanuts.client.accountEditor"
            name="Account"/>
      <editor
            class="de.tomsplayground.peanuts.client.editors.security.SecurityEditor"
            contributorClass="de.tomsplayground.peanuts.client.editors.security.SecurityEditorActionBarContributor"
            default="false"
            icon="icons/chart_curve.png"
            id="de.tomsplayground.peanuts.client.securityEditor"
            name="Security"/>
      <editor
            class="de.tomsplayground.peanuts.client.editors.report.ReportEditor"
            icon="icons/book.png"
            id="de.tomsplayground.peanuts.client.reportEditor"
            name="Report">
      </editor>
      <editor
            class="de.tomsplayground.peanuts.client.editors.forecast.ForecastEditor"
            icon="icons/weather_cloudy.png"
            id="de.tomsplayground.peanuts.client.forecastEditor"
            name="Forecast">
      </editor>
      <editor
            class="de.tomsplayground.peanuts.client.editors.credit.CreditEditor"
            contributorClass="de.tomsplayground.peanuts.client.editors.credit.CreditEditorActionBarContributor"
            icon="icons/script.png"
            id="de.tomsplayground.peanuts.client.creditEditor"
            name="Credit">
      </editor>
      <editor
            class="de.tomsplayground.peanuts.client.editors.securitycategory.SecurityCategoryEditor"
            icon="icons/chart_pie.png"
            id="de.tomsplayground.peanuts.client.securityCategoryEditor"
            name="Security Category">
      </editor>
      <editor
            class="de.tomsplayground.peanuts.client.comparison.ComparisonEditor"
            default="false"
            icon="icons/arrow_refresh.png"
            id="de.tomsplayground.peanuts.client.comparisonEditor"
            name="Comparision">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="de.tomsplayground.peanuts.client.editors.security.SecurityEditorFactory"
            id="de.tomsplayground.peanuts.client.securityEditorFactoryId"/>
      <factory
            class="de.tomsplayground.peanuts.client.editors.account.AccountEditorFactory"
            id="de.tomsplayground.peanuts.client.accountEditorFactoryId">
      </factory>
      <factory
            class="de.tomsplayground.peanuts.client.editors.report.ReportEditorFactory"
            id="de.tomsplayground.peanuts.client.reportEditorFactoryId">
      </factory>
      <factory
            class="de.tomsplayground.peanuts.client.editors.forecast.ForecastEditorFactory"
            id="de.tomsplayground.peanuts.client.forecastEditorFactoryId">
      </factory>
      <factory
            class="de.tomsplayground.peanuts.client.editors.credit.CreditEditorFactory"
            id="de.tomsplayground.peanuts.client.creditEditorFactoryId">
      </factory>
      <factory
            class="de.tomsplayground.peanuts.client.editors.securitycategory.SecurityCategoryEditorFactory"
            id="de.tomsplayground.peanuts.client.securityCategoryEditorFactoryId">
      </factory>
   </extension>
   <extension
         name="Test"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.tomsplayground.peanuts.client.product"
            name="Butter"/>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=group.properties">
         <command
               commandId="org.eclipse.ui.file.properties"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.tomsplayground.peanuts.client.securityWatchListView">
         <command
               commandId="de.tomsplayground.peanuts.client.removeWatchlistConfiguration"
               icon="icons/delete.png"
               label="Delete Watchlist"
               style="push">
         </command>
         <command
               commandId="de.tomsplayground.peanuts.client.editWatchlistConfiguration"
               icon="icons/table_edit.png"
               label="Edit Watchlist"
               style="push">
         </command>
         <command
               commandId="de.tomsplayground.peanuts.client.addWatchlist"
               icon="icons/add.png"
               label="Add Watchlist"
               style="push">
         </command>
         <command
               commandId="de.tomsplayground.peanuts.client.setWatchlistPerformanceRange"
               icon="icons/date.png"
               label="Custom performance range"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:de.tomsplayground.peanuts.client.securityWatchListView">
         <command
               commandId="de.tomsplayground.peanuts.client.addWatchlist"
               label="Add Watchlist"
               style="push">
         </command>
         <dynamic
               class="de.tomsplayground.peanuts.client.watchlist.SwitchWatchlistItems"
               id="de.tomsplayground.peanuts.client.dynamic1">
         </dynamic>
         <menu
               label="Select Watch list">
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:de.tomsplayground.peanuts.client.securityWatchListView">
         <command
               commandId="org.eclipse.ui.edit.delete"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:de.tomsplayground.peanuts.client.securityEditor">
         <command
               commandId="org.eclipse.ui.edit.delete"
               style="push">
         </command>
         <command
               commandId="de.tomsplayground.peanuts.client.ignore"
               label="Ignore"
               style="push">
         </command>
         <command
               commandId="de.tomsplayground.peanuts.client.lock"
               icon="icons/lock.png"
               label="Lock"
               style="push">
         </command>
         <command
               commandId="de.tomsplayground.peanuts.client.createDividendTransaction.cmd"
               label="Create Transaction"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="edit"
               label="Edit">
            <command
                  commandId="org.eclipse.ui.edit.cut"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.copy"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.paste"
                  style="push">
            </command>
            <separator
                  name="de.tomsplayground.peanuts.client.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.delete"
                  style="push">
            </command>
         </menu>
         <menu
               id="file"
               label="File">
            <command
                  commandId="de.tomsplayground.peanuts.client.updateAllPrices.cmd"
                  style="push">
            </command>
            <command
                  commandId="de.tomsplayground.peanuts.client.updateAllFundamentalData.cmd"
                  style="push">
            </command>
            <command
                  commandId="de.tomsplayground.peanuts.client.focusNavigation.cmd"
                  style="push">
            </command>
            <command
                  commandId="de.tomsplayground.peanuts.client.copyDividends.cmd"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:de.tomsplayground.peanuts.client.accountEditor">
         <command
               commandId="de.tomsplayground.peanuts.client.saveTransaction"
               icon="icons/date_add.png"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.copy"
               style="push">
         </command>
         <command
               commandId="de.tomsplayground.peanuts.client.exportAccountValues.cmd"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:de.tomsplayground.peanuts.client.accountEditor">
         <menu
               label="Insert transaction">
            <dynamic
                  class="de.tomsplayground.peanuts.client.savedtransaction.InsertSavedTransactionItems"
                  id="de.tomsplayground.peanuts.client.inserTransactionItems">
            </dynamic>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.tomsplayground.peanuts.client.navigationView">
         <command
               commandId="de.tomsplayground.peanuts.client.toggleDeletedFilter.cmd"
               icon="icons/page_delete.png"
               label="Toggle Filter"
               style="toggle">
         </command>
         <command
               commandId="org.eclipse.ui.navigate.expandAll"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:de.tomsplayground.peanuts.client.navigationView">
         <command
               commandId="org.eclipse.ui.edit.delete"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.file.revert"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.tomsplayground.peanuts.client.category1"
            name="Butter">
      </category>
      <wizard
            category="de.tomsplayground.peanuts.client.category1"
            class="de.tomsplayground.peanuts.client.wizards.security.SecurityNewWizard"
            icon="icons/chart_curve.png"
            id="de.tomsplayground.peanuts.client.securityNewWizard"
            name="Security">
      </wizard>
      <wizard
            category="de.tomsplayground.peanuts.client.category1"
            class="de.tomsplayground.peanuts.client.wizards.report.ReportNewWizard"
            hasPages="true"
            icon="icons/book.png"
            id="de.tomsplayground.peanuts.client.reportNewWizard"
            name="Report">
      </wizard>
      <wizard
            category="de.tomsplayground.peanuts.client.category1"
            class="de.tomsplayground.peanuts.client.wizards.account.AccountNewWizard"
            icon="icons/table.png"
            id="de.tomsplayground.peanuts.client.accountNewWizard"
            name="Account">
      </wizard>
      <wizard
            canFinishEarly="false"
            category="de.tomsplayground.peanuts.client.category1"
            class="de.tomsplayground.peanuts.client.wizards.forecast.ForecastNewWizard"
            hasPages="true"
            icon="icons/weather_cloudy.png"
            id="de.tomsplayground.peanuts.client.forecastNewWizard"
            name="Forecast">
      </wizard>
      <wizard
            canFinishEarly="false"
            category="de.tomsplayground.peanuts.client.category1"
            class="de.tomsplayground.peanuts.client.wizards.credit.CreditNewWizard"
            hasPages="true"
            icon="icons/script.png"
            id="de.tomsplayground.peanuts.client.creditNewWizard"
            name="Credit">
      </wizard>
      <wizard
            category="de.tomsplayground.peanuts.client.category1"
            class="de.tomsplayground.peanuts.client.wizards.securitycategory.SecurityCategoryNewWizard"
            icon="icons/chart_pie.png"
            id="de.tomsplayground.peanuts.client.securityCategoryNewWizard"
            name="Security Category">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="de.tomsplayground.peanuts.client.editors.security.properties.SecurityPropertyPage"
            id="de.tomsplayground.peanuts.client.security.general"
            name="Security">
         <enabledWhen>
            <adapt
                  type="de.tomsplayground.peanuts.domain.base.Security">
            </adapt>
         </enabledWhen>
      </page>
      <page
            class="de.tomsplayground.peanuts.client.editors.security.properties.SplitsPropertyPage"
            id="de.tomsplayground.peanuts.client.security.splits"
            name="Splits">
         <enabledWhen>
            <adapt
                  type="de.tomsplayground.peanuts.domain.base.Security">
            </adapt>
         </enabledWhen>
      </page>
      <page
            class="de.tomsplayground.peanuts.client.editors.credit.properties.CreditPropertyPage"
            id="de.tomsplayground.peanuts.client.credit.general"
            name="Credit">
         <enabledWhen>
            <adapt
                  type="de.tomsplayground.peanuts.domain.process.Credit">
            </adapt>
         </enabledWhen>
      </page>
      <page
            class="de.tomsplayground.peanuts.client.editors.security.properties.SecurityCategoryPropertyPage"
            id="de.tomsplayground.peanuts.client.securitycategory.general"
            name="Security Categories">
         <enabledWhen>
            <adapt
                  type="de.tomsplayground.peanuts.domain.base.Security">
            </adapt>
         </enabledWhen>
      </page>
      <page
            class="de.tomsplayground.peanuts.client.editors.security.properties.StopLossPropertyPage"
            id="de.tomsplayground.peanuts.client.security.stoploss"
            name="Stop Loss">
         <enabledWhen>
            <adapt
                  type="de.tomsplayground.peanuts.domain.base.Security">
            </adapt>
         </enabledWhen>
      </page>
      <page
            class="de.tomsplayground.peanuts.client.editors.security.properties.ChartPropertyPage"
            id="de.tomsplayground.peanuts.client.security.chart"
            name="Chart">
         <enabledWhen>
            <adapt
                  type="de.tomsplayground.peanuts.domain.base.Security">
            </adapt>
         </enabledWhen>
      </page>
      <page
            class="de.tomsplayground.peanuts.client.savedtransaction.properties.SavedTransactionPropertyPage"
            id="de.tomsplayground.peanuts.client.savedtransaction.page1"
            name="Saved Transaction">
         <enabledWhen>
            <adapt
                  type="de.tomsplayground.peanuts.domain.process.SavedTransaction">
            </adapt>
         </enabledWhen>
      </page>
      <page
            class="de.tomsplayground.peanuts.client.editors.security.properties.CalendarPropertyPage"
            id="de.tomsplayground.peanuts.client.security.calendarEntries"
            name="Calendar Entries">
         <enabledWhen>
            <adapt
                  type="de.tomsplayground.peanuts.domain.base.Security">
            </adapt>
         </enabledWhen>
      </page>
      <page
            class="de.tomsplayground.peanuts.client.editors.security.properties.CurrencyPropertyPage"
            id="de.tomsplayground.peanuts.client.editors.security.currencyPage"
            name="Security Currency">
         <enabledWhen>
            <adapt
                  type="de.tomsplayground.peanuts.domain.base.Security">
            </adapt>
         </enabledWhen>
      </page>
      <page
            class="de.tomsplayground.peanuts.client.editors.security.properties.IvrPropertyPage"
            id="de.tomsplayground.peanuts.client.editors.security.ivrPage"
            name="IVR">
         <enabledWhen>
            <adapt
                  type="de.tomsplayground.peanuts.domain.base.Security">
            </adapt>
         </enabledWhen>
      </page>
      <page
            class="de.tomsplayground.peanuts.client.editors.security.properties.AlarmPropertyPage"
            id="de.tomsplayground.peanuts.client.editors.security.alarmPage"
            name="Alarm">
         <enabledWhen>
            <adapt
                  type="de.tomsplayground.peanuts.domain.base.Security">
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.tomsplayground.peanuts.client.app.PeanutsPreferences"
            id="de.tomsplayground.peanuts.client.prefpage1"
            name="Peanuts">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.tomsplayground.peanuts.client.editors.security.DeletePriceHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="de.tomsplayground.peanuts.domain.process.Price">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="de.tomsplayground.peanuts.client.editors.security.DeleteFundamentalDataHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <with
                  variable="selection">
               <iterate>
                  <instanceof
                        value="de.tomsplayground.peanuts.domain.fundamental.FundamentalData">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="de.tomsplayground.peanuts.client.watchlist.DeleteFromWatchlistHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="de.tomsplayground.peanuts.client.securityWatchListView">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="de.tomsplayground.peanuts.client.navigation.DeleteFromNavigationHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="de.tomsplayground.peanuts.domain.base.IDeletable">
                  </instanceof>
                  <test
                        property="de.tomsplayground.peanuts.modelObject.deleted"
                        value="false">
                  </test>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="de.tomsplayground.peanuts.client.navigation.DeleteFromNavigationHandler"
            commandId="org.eclipse.ui.file.revert">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="de.tomsplayground.peanuts.domain.base.IDeletable">
                  </instanceof>
                  <test
                        property="de.tomsplayground.peanuts.modelObject.deleted"
                        value="true">
                  </test>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="de.tomsplayground.peanuts.client.savedtransaction.SaveTransactionHandler"
            commandId="de.tomsplayground.peanuts.client.saveTransaction">
        <activeWhen>
           <with
                 variable="selection">
              <iterate
                    ifEmpty="false"
                    operator="and">
                 <instanceof
                       value="de.tomsplayground.peanuts.domain.process.Transaction">
                 </instanceof>
              </iterate>
           </with>
        </activeWhen>
      </handler>
      <handler
            class="de.tomsplayground.peanuts.client.editors.account.CopyInventoryEntries"
            commandId="org.eclipse.ui.edit.copy">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="de.tomsplayground.peanuts.domain.base.InventoryEntry">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="de.tomsplayground.peanuts.client.editors.security.IgnoreFundamentalDataHandler"
            commandId="de.tomsplayground.peanuts.client.ignore">
         <activeWhen>
            <with
                  variable="selection">
               <iterate>
                  <instanceof
                        value="de.tomsplayground.peanuts.domain.fundamental.FundamentalData">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="de.tomsplayground.peanuts.client.editors.security.LockFundamentalDataHandler"
            commandId="de.tomsplayground.peanuts.client.lock">
         <activeWhen>
            <with
                  variable="selection">
               <iterate>
                  <instanceof
                        value="de.tomsplayground.peanuts.domain.fundamental.FundamentalData">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="de.tomsplayground.peanuts.client.dividend.CreateDividendTransaction"
            commandId="de.tomsplayground.peanuts.client.createDividendTransaction.cmd">
         <activeWhen>
            <with
                  variable="selection">
               <iterate>
                  <instanceof
                        value="de.tomsplayground.peanuts.domain.dividend.Dividend">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="de.tomsplayground.peanuts.client.navigation.NavigationLabelDecorator"
            id="de.tomsplayground.peanuts.client.deleted"
            label="Deleted"
            lightweight="true"
            state="true">
      </decorator>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="de.tomsplayground.peanuts.client.navigation.NavigationPropertyTester"
            id="de.tomsplayground.peanuts.client.isDeleted"
            namespace="de.tomsplayground.peanuts.modelObject"
            properties="deleted"
            type="de.tomsplayground.peanuts.domain.base.IDeletable">
      </propertyTester>
   </extension>

</plugin>
